.sidebar {
  grid-area: sidebar;
  background-color: aqua;
  height: 100vh;

  @media only screen and (max-width: 880px) {
    width: 12rem;
  }

  &-open {
    width: 16rem;
    @media only screen and (max-width: 880px) {
      width: 12rem;
    }
    @media only screen and (max-width: 550px) {
      width: 12rem;
      z-index: 1;
    }
  }
  &-close {
    width: 5rem;
    @media only screen and (max-width: 880px) {
      width: 5rem;
    }
    @media only screen and (max-width: 550px) {
      margin-left: -12rem;
    }
  }

  .company {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    position: relative;
  }

  .company-name {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .close-button {
    display: none;
    @media only screen and (max-width: 550px) {
      display: block;
      font-weight: 300;
      font-size: 0.8rem;
      cursor: pointer;
      position: absolute;
      right: 0.2rem;
      top: 0.5rem;
    }
  }
}
