.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: 4rem 1fr 3rem;
  grid-template-areas:
    "sidebar navbar navbar"
    "sidebar dashboard dashboard"
    "sidebar footer footer";

  @media only screen and (max-width: 1200px) {
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas:
      "sidebar navbar navbar"
      "sidebar dashboard dashboard"
      "sidebar footer footer";
  }

  @media only screen and (max-width: 880px) {
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: 4rem 3fr 3rem;
    grid-template-areas:
      "sidebar navbar navbar"
      "sidebar dashboard dashboard"
      "sidebar footer footer";
  }

  @media only screen and (max-width: 550px) {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas:
      "navbar"
      "dashboard"
      "footer";
  }
}
